
<div class="container">
  <div class="headerPart">
    <h2 [style.color]="mycolor">{{homepage}}</h2>
    <h2 [ngClass]="myclass">welcome</h2>
    <hr color="blue"/>
  </div>
</div>
<div class="contentPart">
  <h2>user nformation</h2>
  
  firstName:{{firstName}}<br/>
  lastName:{{lastName}}<br/>
  age:{{age}}

  FIRSTNAME:<input type="text" [(ngModel)]="firstName"/>
  <input type="button" value="changeData" (click)="action1()"/>
  <!--
    <h3>{{locationOfImage}}</h3>
  <img [src]="locationOfImage" alt="" />
   <button (click)="action1()">on click here</button>-->
   <h1 [style.color]="mycolor">First line</h1>
   <hr/>
   <button (click)="action1()">BUTTON-1</button><br/>
   <button (click)="action2()">BUTTON-2</button>
</div>


<div *ngIf="status;then template1;else template2" class="container">
<h2>container data</h2>
</div>
<ng-template #template1>
  <div class="section1">
  <h2>section part1</h2>
</div>
</ng-template>
<ng-template #template2>
  <div class="section2">
  <h2>section part 2</h2>
</div>
</ng-template>
<div class="container">

  <div [ngSwitch]="countryname">
<p *ngSwitchCase="'india'"> selected country</p>
    <p *ngSwitchDefault=""> country not selected</p> 
  </div>
<div class="container">
<h2> all country names</h2>
<ul type="circle" *ngFor="let country of countries">
  <li>{{country}}</li>
  
</ul>
</div>

</div>
<div>
  <h2>from app component</h2>
</div>